#logo > img{
    height: 150px;
    animation: giro 6s linear infinite;
}

@keyframes giro {
    0%{
        transform: rotateZ(30deg);
    }
    100%{
        transform: rotateZ(-30deg);
    }
}

#contain{
    background-color: #e6e6fa;
}

.ahorcado-img{
    height: 350px;
}

h1{
    text-align: center;
}

.-intentos{
    color:#f00;
}
